$default-fonts: Helvetica, Arial, sans-serif

+font(Casper-Regular, Casper-Regular)
=reg
  font-family: 'Casper-Regular', $default-fonts

a
  text-decoration: none

.out
  //position: relative
  padding: 40px 20px
  //overflow: hidden

.container
  padding: 20px 0
