---
title: Pages
homePage: true
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="container">
		<ul class="z">
			<li><a href="alert.html" target="_blank">1. Alert</a></li>
			<li><a href="alert-external.html" target="_blank">2. Alert External</a></li>
			<li><a href="vars.html" target="_blank">3. Vars</a></li>
			<li><a href="prompt.html" target="_blank">4. Prompt</a></li>
			<li><a href="if-else.html" target="_blank">5. If, else</a></li>
			<li><a href="else-if-number.html" target="_blank">6. Else if (number)</a></li>
			<li><a href="login.html" target="_blank">7. Login Form</a></li>
			<li><a href="question-operator.html" target="_blank">8. Operator '?'</a></li>
			<li><a href="question-operator2.html" target="_blank">9. Many Operators '?'</a></li>
			<li><a href="logical-operator-&&.html" target="_blank">10. Logical Operator &&</a></li>
			<li><a href="logical-operator-or.html" target="_blank">11. Logical Operator ||</a></li>
			<li><a href="logical-operator-!.html" target="_blank">12. Logical Operator !</a></li>
			<li><a href="for.html" target="_blank">13. Even Numbers</a></li>
			<li><a href="replace-for-by-while.html" target="_blank">14. Replacing For by While</a></li>
			<li><a href="repeating-cikle.html" target="_blank">15. Repeating Cycle</a></li>
			<li><a href="simple-numbers.html" target="_blank">16. Simple Numbers</a></li>
			<li><a href="switch-to-if.html" target="_blank">17. Rewrite Switch to If...else</a></li>
			<li><a href="if-to-switch.html" target="_blank">18. Rewrite If to Switch</a></li>
			<li><a href="length.html" target="_blank">19. Length Counter</a></li>
			<li><a href="functions/functions-basics.html" target="_blank">20. Basic Lesson About Functions</a></li>
			<li><a href="functions/recursion.html" target="_blank">21. Recursion and Stack</a></li>
			<li><a href="test-example.html" target="_blank">22. Test Example Page</a></li>
			<li><a href="functions/numbers.html" target="_blank">23. Info About Numbers</a></li>
			<li><a href="functions/strings.html" target="_blank">24. Info About Strings</a></li>
			<li><a href="functions/objects1.html" target="_blank">25. Objects as Associative Massifs</a></li>
			<li><a href="functions/objects2.html" target="_blank">26. Object's Properties Bust </a></li>
			<li><a href="functions/data-demo.html" target="_blank">26. Demo of Using Data-Attributes </a></li>
			<li><a href="functions/array.html" target="_blank">27. Array Basics </a></li>
			<li><a href="functions/array-methods.html" target="_blank">28. Array Methods </a></li>
			<li><a href="functions/array-search.html" target="_blank">28. Array Search Methods </a></li>
			<li><a href="functions/arguments-pseudoarray.html" target="_blank">29. Arguments Pseudoarray Methods </a></li>
			<li><a href="functions/date.html" target="_blank">30. Date & Time </a></li>
			<li><a href="functions/closure.html" target="_blank">31. Closure </a></li>
			<li><a href="functions/this.html" target="_blank">32. This </a></li>
			<li><a href="functions/object-methods.html" target="_blank">33. Object Methods </a></li>
			<li><a href="functions/constructor-new.html" target="_blank">34. New Object (Constructor) </a></li>
			<li><a href="functions/get-set.html" target="_blank">35. Object.defineProperty </a></li>
			<li><a href="functions/static-props.html" target="_blank">36. Static Properties and Methods </a></li>
			<li><a href="functions/call-apply.html" target="_blank">37. Call and Apply </a></li>
			<li><a href="functions/bind.html" target="_blank">38. Bind and Currying </a></li>
			<li><a href="functions/decorators.html" target="_blank">39. Decorators </a></li>
			<li><a href="functions/class-instanceof.html" target="_blank">40. Data Types: [[Class]], Instanceof </a></li>
			<li><a href="functions/json.html" target="_blank">41. JSON </a></li>
			<li><a href="functions/settimeout-setinterval.html" target="_blank">42. SetTimeOut & SetInterval </a></li>
			<li><a href="functions/eval.html" target="_blank">43. Eval </a></li>
			<li><a href="functions/try-catch.html" target="_blank">44. Try...Catch </a></li>
			<li><a href="functions/oop-1.html" target="_blank">45. Internal and External Interface </a></li>
			<li><a href="functions/oop2-getter-setter.html" target="_blank">46. Getters and Setters </a></li>
			<li><a href="functions/oop3-inharitance.html" target="_blank">47. Inharitance </a></li>
			<li><a href="functions/oop4-prototype.html" target="_blank">48. Prototype </a></li>
			<li><a href="functions/oop5-new-prototype.html" target="_blank">49. New Prototype </a></li>
			<li><a href="functions/oop6-native-prototypes.html" target="_blank">50. Native Prototypes </a></li>
			<li><a href="functions/oop7-classes.html" target="_blank">51. Classes </a></li>
			<li><a href="functions/oop8-errors.html" target="_blank">52. Errors Creation </a></li>
		</ul>
	</div>


<style>
	.z a {
		font-size: 30px;
		color: #000
	}
</style>

{% endblock %}
