<script>

  function sum (a){
    return function(b){
      console.log(a + b);
    }
  }

  function makeBuffer() {
    var text = '';
    function buffer(arg){
      if(arguments.length == 0){
        return text;
      }
      text += arg;
    };
    buffer.clean = function(){
      text = '';
    };
    return buffer;
  }

  function byField(field){
    return function(a, b){
      return a[field] > b[field] ? 1 : -1;
    }
  }

  function filter(arr, func){

    var result = [];
    for(var i = 0; i < arr.length; i++){
      var val = arr[i];
      if(func(val)){
        result.push(val);
      }
    }
    //console.log(result);
  }

  function inBetween(a, b){
    return function(c){
        return c >= a && c <= b;
    }
  }

  function inArray(arr){
    return function(x){
      return arr.indexOf(x) != -1;
    }
  }

  function makeArmy() {

    var shooters = [];

    for (var i = 0; i < 10; i++) {

      var shooter = function me() {
        console.log( me.i );
      };
      shooter.i = i;

      /*
      var shooter = function(i){
        return function(){
        alert(i);
      }
      }(i)
      */

      /*
      for(var i = 0; i < 10; i++)(function(i){
        var shooter = function(){
        alert(i);
      }
    })(i)
      *?

      shooters.push(shooter);
    }

    return shooters;
  }

  var army = makeArmy();

  army[0]();
  army[6]();

  var arr = [1, 2, 3, 4, 5, 6, 7];

  var users = [{
    name: "Вася",
    surname: 'Иванов',
    age: 20
  }, {
    name: "Петя",
    surname: 'Чапаев',
    age: 25
  }, {
    name: "Маша",
    surname: 'Медведева',
    age: 18
  }];

  var buffer = makeBuffer();

  // добавить значения к буферу
  buffer('Замыкания');
  buffer(' Использовать');
  buffer(' Нужно!');

  /*users.sort(byField('name'));
  users.forEach(function(user) {
    console.log( user.name );
  }); // Вася, Маша, Петя*/

</script>
