<script>
  (function(){
    var head = {
      glasses: 1
    };

    var table = {
      pen: 3,
      __proto__: head
    };

    var bed = {
      sheet: 1,
      pillow: 2,
      __proto__: table
    };

    var pockets = {
      money: 2000,
      __proto__: bed
    };

    console.log(pockets.pen);
    console.log(bed.glasses);
    console.log(table.money);

    function test(){
      var date1 = new Date();
      pockets.glasses;
      console.log(new Date() - date1);

      var date2 = new Date();
      head.glasses;
      console.log(new Date() - date2);
    }
    test()
  })()
</script>
